<template>
    <div class="teacher-table-container h-100 mx-4 my-4">
        <div class="d-flex justify-space-between mx-1">
            <h2>Danh Sách Giảng Viên</h2>

            <v-btn @click="isShowDialog = true"> Thêm Giảng Viên </v-btn>
        </div>
        <v-row class="d-flex">
            <v-col cols="6">
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            variant="outlined"
                            label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            placeholder="Bằng cấp "
                            :items="Object.values(Degree)"
                        >
                        </v-select>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            placeholder="Giới tính"
                            :items="Object.values(Gender)"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="6" class="d-flex justify-end">
                <v-btn>Tìm kiếm</v-btn>
            </v-col>
        </v-row>
        <v-table class="teacher-table" height="730" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ và tên</th>
                    <th>Học phần giảng dạy</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Bằng cấp</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(teacher, index) in teacherLists"
                    :key="teacher.id"
                    @click="goToTeacherDetail(teacher._id)"
                >
                    <td>{{ index + 1 }}</td>
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher.subjects }}</td>
                    <td>{{ teacher.phone }}</td>
                    <td>{{ teacher.Email }}</td>
                    <td>{{ teacher.degree }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <v-pagination
        :length="4"
        v-model="pagination"
        @click="getList()"
        @update:model-value="getList()"
    ></v-pagination>
    <TeacherDialog v-if="isShowDialog" @close-dialog="isShowDialog = false" />
</template>

<script lang="js">
import axios from 'axios';
import { Degree, Gender } from './Teacher.constant';
import TeacherDialog from './TeacherDialog.vue';
export default {
    components: {
        TeacherDialog,
    },
    data() {
        return {
            teacherLists: [],
            Degree,
            Gender,
            isShowDialog: false
        };
    },
    mounted() {
        axios.get('http://127.0.0.1:3000/student').then((response) => {
            this.teacherLists = response.data;
        });
    },
    methods: {
        goToTeacherDetail(teacherId) {
            this.$router.push({ name: 'teacher-detail', params: { id: teacherId } });
        },
    },
};
</script>

<style>
.teacher-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.teacher-table {
    width: 100%;
}

.form-head {
    display: flex;
    justify-content: space-between;
}

.form-title {
    margin: 10px;
}

.avatar-user {
    border: 2px solid #ddd;
    border-radius: 100%;
}

.custom-col {
    position: relative;
}

.custom-col::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 100px;
    height: 4px;
    background-color: #019060;
}

.v-card-actions {
    padding: 0px !important;
}

.form-footer {
    background: #eaebef;
    margin-top: 16px;
    padding: 16px 20px;
}

.btn-close {
    box-shadow: none !important;
}

.btn-cancel {
    background: #ddd;
}
</style>
