<template>
    <div>
        <h1>{{ teacher.name }}</h1>
        <p>{{ teacher.bio }}</p>
        <h2>Courses Taught:</h2>
        <ul>
            <li v-for="course in teacher.courses" :key="course.id">
                {{ course.name }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            teacher: {
                name: 'John Doe',
                bio: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                courses: [
                    { id: 1, name: 'Introduction to Programming' },
                    { id: 2, name: 'Web Development' },
                    { id: 3, name: 'Database Management' },
                ],
            },
        };
    },
};
</script>
