<template>
    <div class="syllabus-table-container h-80">
        <div class="d-flex justify-space-between my-4 mx-4">
            <v-col cols="6" class="d-flex"><h2>Danh Sách Giáo Trình</h2></v-col>
            <v-col cols="6" class="d-flex justify-end"
                ><v-pagination
                    :length="4"
                    v-model="pagination"
                    @click="getList()"
                    @update:model-value="getList()"
                ></v-pagination>
                <v-btn @click="isShowDialog = true"> Thêm Giáo Trình</v-btn></v-col
            >
        </div>
        <v-row class="mx-1">
            <v-col
                v-for="(item, index) in [
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                ]"
                :key="index"
                cols="3"
            >
                <v-card>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoBEDAsIMQ3kMxOE6NYmfOcowTUYBT5aXsnoA6Y9KDBQ&s"
                        alt=""
                    />
                </v-card>
                <span> Giáo trình {{ index + 1 }} </span>
            </v-col>
        </v-row>
        <SyllabusDialog />
    </div>
</template>

<script lang="js" setup>
import { ref } from "vue";
import SyllabusDialog from "./SyllabusDialog.vue";
const pagination = ref(1);
const isShowDialog = false;
const getList = () => {
    return pagination;
}
</script>

<style></style>
