<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close-dialog-syllabus')"
        width="60%"
    >
        <v-card title="Dialog">
            <v-card-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn text="Close Dialog" @click="isActive.value = false"></v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {};
</script>

<style scoped></style>
