<template>
    <div class="employee-table-container h-100">
        <div class="d-flex justify-space-between">
            <h2>Danh Sách Khóa Học</h2>
            <v-btn @click="isShowDialog = true"> Thêm Khóa Học</v-btn>
        </div>
        <v-row class="d-flex mx-1">
            <v-col cols="6">
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            variant="outlined"
                            label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            rounded="100"
                            variant="outlined"
                            placeholder="Trạng thái"
                            :items="['Trực tiếp', 'Trực tuyến']"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="6" class="d-flex justify-end">
                <v-btn>reload</v-btn>
            </v-col>
        </v-row>
        <v-table class="employee-table" height="730" fixed-header="true">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã</th>
                    <th>Tên Khóa học</th>
                    <th>Thời lượng (buổi)</th>
                    <th>Phương thức giảng dạy</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="employee in employeeLists" :key="employee.id">
                    <td>{{ employee.EmployeeId }}</td>
                    <td>{{ employee.FullName }}</td>
                    <td>{{ employee.GenderName }}</td>
                    <td>{{ employee.DateOfBirth }}</td>
                    <td>{{ employee.PhoneNumber }}</td>
                    <td>{{ employee.Email }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
</template>

<script>
// import axios from 'axios';

// import axios from '@/plugins/axios';

export default {
    data() {
        return {
            employeeLists: [],
            dropdownCourse: [],
            isShowDialog: false,
        };
    },
    mounted() {
        // axios
        //     .get('https://cukcuk.manhnv.net/api/v1/Employees/filter')
        //     .then((response) => {
        //         this.employeeLists = response.data.Data;
        //     });
        // axios.get();
    },
    methods() {},
};
</script>

<style>
.employee-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
