<template>
    <div class="dashboard">
        <div class="widget">
            <h3>Tổng số học sinh</h3>
            <p>{{ data.totalStudents }}</p>
        </div>
        <div class="widget">
            <h3>Tổng số giáo viên</h3>
            <p>{{ data.totalTeachers }}</p>
        </div>
        <div class="widget">
            <h3>Tổng số lớp học</h3>
            <p>{{ data.totalClasses }}</p>
        </div>
        <div class="widget">
            <h3>Tổng số buổi học</h3>
            <p>{{ data.totalLessons }}</p>
        </div>
        <div class="widget">
            <h3>Tổng số khóa học</h3>
            <p>{{ data.totalCourses }}</p>
        </div>
    </div>
</template>

<script>
// import axios from 'axios';
export default {
    data() {
        return {
            data: {
                totalStudents: 1000,
                totalTeachers: 50,
                totalClasses: 30,
                totalLessons: 500,
                totalCourses: 10,
            },
        };
    },
    mounted() {
        // this.fetchDashboardData();
    },
    methods: {
        // fetchDashboardData() {
        //     this.data = axios.get('http://localhost:3000/dashboard').then((response) => {
        //         this.data = response.data;
        //     });
        // },
    },
};
</script>

<style scoped>
.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.widget {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}
</style>
