<template>
    <v-container>
        <v-row justify="center">
            <v-col cols="12" sm="8" md="6">
                <v-card>
                    <v-card-title class="text-center">
                        <h1>Forgot Password</h1>
                    </v-card-title>
                    <v-card-text>
                        <v-form @submit="submitForm">
                            <v-text-field
                                v-model="email"
                                label="Email"
                                type="email"
                                required
                            ></v-text-field>
                            <v-btn type="submit" color="primary">Submit</v-btn>
                            <router-link to="/login">
                                <v-btn color="primary">Back to Login</v-btn>
                            </router-link>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            email: '',
        };
    },
    methods: {
        submitForm() {
            // Handle form submission logic here
            // You can send a request to the server to reset the password for the provided email
            // For example:
            // axios.post('/api/reset-password', { email: this.email })
            //   .then(response => {
            //     // Handle success
            //   })
            //   .catch(error => {
            //     // Handle error
            //   });
        },
    },
};
</script>

<style scoped>
/* Add your custom styles here */
</style>
