<template>
    <div>
        <v-img
            class="mx-auto my-6"
            max-width="100"
            :src="require('@/assets/Logo-login.png')"
        ></v-img>

        <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
            <div
                class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
            >
                Tài Khoản
            </div>

            <v-text-field
                density="compact"
                placeholder="email"
                prepend-inner-icon="mdi-email-outline"
                variant="outlined"
                v-model="dataLogin.email"
            ></v-text-field>

            <div
                class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
            >
                Mật khẩu

                <router-link
                    class="text-caption text-decoration-none text-blue"
                    to="/forgot-password"
                    rel="noopener noreferrer"
                >
                    Quên mật khẩu?</router-link
                >
            </div>

            <v-text-field
                :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'"
                density="compact"
                placeholder="Enter your password"
                prepend-inner-icon="mdi-lock-outline"
                variant="outlined"
                @click:append-inner="visible = !visible"
                v-model="dataLogin.password"
            ></v-text-field>

            <v-card class="mb-12" color="surface-variant" variant="tonal">
                <v-card-text class="text-medium-emphasis text-caption">
                    Cảnh báo: Đăng nhập sai quá ba lần sẽ bị khóa tài khoản. Nếu bạn muốn
                    đăng nhập luôn thì bấm vào quên mật khẩu để lấy lại mật khẩu.
                </v-card-text>
            </v-card>

            <v-btn
                block
                class="mb-8"
                color="blue"
                size="large"
                variant="tonal"
                @click="login()"
                :disabled="!dataLogin.email || !dataLogin.password"
            >
                Đăng nhập
            </v-btn>
        </v-card>
    </div>
</template>
<script>
import axios from '@/plugins/axios';

export default {
    data: () => ({
        visible: false,
        dataLogin: {
            email: '',
            password: '',
        },
    }),
    methods: {
        login() {
            const token = axios.post('http://localhost:3000/auth/login', this.dataLogin);

            if (!token) this.$router.push('/dashboard');
        },
    },
};
</script>
