<template>
    <div class="student-table-container h-80">
        <div class="d-flex justify-space-between">
            <h2>Danh Sách Học Sinh</h2>
            <v-btn @click="isShowDialog = true"> Thêm Học Sinh</v-btn>
        </div>
        <v-row class="d-flex">
            <v-col cols="6">
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            variant="outlined"
                            label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            :items="['tất cả phòng ban', 'chỉ một phòng ban']"
                        >
                        </v-select>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            :items="['tất cả vị trí', 'chỉ một vị trí']"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="6" class="d-flex justify-end">
                <v-btn>Tìm Kiếm</v-btn>
            </v-col>
        </v-row>
        <v-table class="student-table" height="730" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(student, index) in studentLists"
                    :key="student.id"
                    @click="goTostudentDetail(student._id)"
                >
                    <td>{{ index + 1 }}</td>
                    <td>{{ student.FullName }}</td>
                    <td>{{ student.GenderName }}</td>
                    <td>{{ student.DateOfBirth }}</td>
                    <td>{{ student.PhoneNumber }}</td>
                    <td>{{ student.Email }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <StudentDialog v-show="isShowDialog" @close-dialog="isShowDialog = false">
    </StudentDialog>
</template>

<script>
import axios from 'axios';

import StudentDialog from './StudentDialog.vue';

export default {
    data() {
        return {
            studentLists: [],
            dropdownCourse: [],
            isShowDialog: false,
        };
    },
    mounted() {
        axios.get('http://127.0.0.1:3000/student').then((response) => {
            this.studentLists = response.data;
        });
    },
    methods: {
        goTostudentDetail(studentId) {
            this.$router.push({ name: 'student-detail', params: { id: studentId } });
        },
    },
    components: { StudentDialog },
};
</script>

<style>
.student-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
