<template>
    <div class="employee-table-container">
        <div class="d-flex justify-space-between">
            <h2>Danh sách nhân viên</h2>
            <MyButton @click="$emit('show-dialog')" icon="add">Thêm nhân viên</MyButton>
        </div>
        <div>
            <v-row no-gutters>
                <v-col cols="7">
                    <v-row no-gutters>
                        <v-col class="mr-2" cols="5">
                            <v-text-field
                                variant="outlined"
                                label="Tim kiếm theo Mã, Tên hoặc Số điện thoại"
                            ></v-text-field>
                        </v-col>
                        <v-col class="mr-2" cols="3">
                            <v-select
                                label="Chọn phòng ban"
                                variant="outlined"
                                :items="['Tất cả phòng ban', 'Chỉ một phòng ban']"
                            >
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select
                                label="Chọn vị trí"
                                variant="outlined"
                                :items="['Tất cả vị trí', 'Chỉ một vị trí']"
                                append-icon="mdi-chevron-down"
                            >
                            </v-select>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="5" class="d-flex justify-end">
                    <v-btn @click="$emit('reload')" class="btn-reload">
                        <img src="../assets/icon/refresh.png"
                    /></v-btn>
                </v-col>
            </v-row>
        </div>
        <v-table class="employee-table" fixed-header="true">
            <thead class="employee-table-header">
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                    <th>Phòng ban</th>
                    <th>Mức lương cơ bản</th>
                    <th>Tình trạng công việc</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="employee in employeeLists"
                    :key="employee.id"
                    @click="showEditDialog(employee.EmployeeId)"
                >
                    <td>{{ employee.EmployeeCode }}</td>
                    <td>{{ employee.FullName }}</td>
                    <td>{{ employee.GenderName }}</td>
                    <td>{{ formatDate(employee.DateOfBirth) }}</td>
                    <td>{{ employee.PhoneNumber }}</td>
                    <td>{{ employee.Email }}</td>
                    <td>{{ employee.PositionName }}</td>
                    <td>{{ employee.PositionCode }}</td>
                    <td>{{ employee.Salary }}</td>
                    <td>{{ employee.WorkStatus }}</td>
                </tr>
            </tbody>
        </v-table>
        <div class="d-flex justify-space-between">
            <h4>Hiển thị 1-10/1000 nhân viên</h4>
            <v-pagination
                v-model="page"
                :length="page"
                active-color="black"
                rounded="circle"
            ></v-pagination>
            <h4>10 nhân viên</h4>
        </div>
    </div>
</template>

<script>
// import axios from 'axios';
import MyButton from '@/style/components/MyButton.vue';

export default {
    components: {
        MyButton,
    },
    data() {
        return {
            employeeLists: [],
            page: 1,
            isDeleteButtonVisible: false,
        };
    },
    mounted() {
        // axios
        //     .get('https://cukcuk.manhnv.net/api/v1/Employees/filter')
        //     .then((response) => {
        //         this.employeeLists = response.data.Data;
        //         this.page = response.data.TotalPage;
        //     });
    },
    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        },
        showEditDialog(id) {
            this.$emit('show-dialog', id);
        },
    },
};
</script>

<style>
.employee-table-container {
    width: 95%;
    margin: 0px auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.btn-reload {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
}

.employee-table {
    height: 80vh;
    overflow: auto;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
}

.employee-table tr:hover {
    cursor: pointer;
    background-color: #ddd;
}

.employee-table td,
.employee-table th {
    border-bottom: 1px solid #ddd;
}

.employee-table td,
.employee-table th {
    text-align: left;
    font-size: 14px;
}

.employee-table td:nth-child(4),
.employee-table td:nth-child(9),
.employee-table th:nth-child(4),
.employee-table th:nth-child(9) {
    text-align: right !important;
}

.employee-table-header th {
    color: #000 !important;
    font-weight: 700 !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
