<template>
    <div class="headers">
        <div>
            <h4>Trung tâm dạy học Sorademic</h4>
        </div>

        <div class="info-user">
            <img class="info-user-avatar" src="../assets/icon/avatar-default.png" />
            <h5>Mai Duc Trung</h5>
            <img class="info-user-option" src="../assets/icon/option.png" />
            <v-buttion @click="logout()"> đăng xuất </v-buttion>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        logout() {
            // Thực hiện các thao tác cần thiết khi người dùng logout
            // Ví dụ: xóa thông tin đăng nhập, chuyển hướng về trang đăng nhập, vv.
            this.clearUserData(); // Gọi phương thức clearUserData để xóa thông tin đăng nhập
            this.redirectToLoginPage(); // Gọi phương thức redirectToLoginPage để chuyển hướng về trang đăng nhập
        },
        clearUserData() {
            // Xóa thông tin đăng nhập, ví dụ:
            // this.$store.commit('clearUserData'); // Gọi mutation clearUserData từ Vuex store (cần cài đặt Vuex trước)
            // Hoặc:
            localStorage.removeItem('token'); // Xóa token người dùng từ localStorage
            this.isAuthenticated = false; // Đặt trạng thái xác thực thành false
        },
        redirectToLoginPage() {
            // this.$router.push('/login'); // Chuyển hướng đến trang '/login' (cần cài đặt Vue Router trước)
            // Hoặc:
            window.location.href = '/login'; // Chuyển hướng trực tiếp đến trang '/login'
        },
    },
};
</script>

<style scoped>
.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background: #fff;
    height: 70px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}

.info-user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.info-user-avatar {
    height: 30px;
}

.info-user-option {
    width: 20px;
}
</style>
