<template>
    <div>
        <v-navigation-drawer>
            <div class="brand">
                <img src="../assets/img/toggle.png" />
                <!-- <img src="../assets/img/cukcuk-logo.png" /> -->
            </div>
            <div class="navbar">
                <router-link
                    class="menu-item-link"
                    to="/dashboard"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/dashboard.png" />
                        <div class="menu-text">Tổng quan</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/manager"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/report.png" />
                        <div class="menu-text">Quản lí</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/teacher"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/dashboard.png" />
                        <div class="menu-text">Giảng viên</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/student"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/dic-employee.png" />
                        <div class="menu-text">Học sinh</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/classroom"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Lớp học</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/course"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Khóa học</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/subject"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Môn học</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/lesson"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Buổi học</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/syllabus"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Giáo trình bài giảng</div>
                    </div>
                </router-link>
                <router-link
                    class="menu-item-link"
                    to="/setting"
                    exact
                    :exact-active-class="'menu-item active'"
                >
                    <div class="menu-item">
                        <img class="menu-icon" src="../assets/icon/setting.png" />
                        <div class="menu-text">Cài đặt phân quyền</div>
                    </div>
                </router-link>
            </div>
        </v-navigation-drawer>
    </div>
</template>
<script>
export default {};
</script>

<style scoped>
.brand {
    display: flex;
    margin: 24px 0px;
}

.brand img {
    height: 30px;
    margin-left: 16px;
}

.menu-item-link {
    text-decoration: none;
}

.menu-item {
    display: flex;
    height: 44px;
    align-items: center;
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.menu-item.active {
    background-color: #019160;
    color: #fff;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #dfe4e2;
}

.menu-item .menu-icon {
    margin-left: 16px;
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

.menu-item.active {
    background-color: #019160;
    color: #fff;
}
</style>
