<script setup lang="js"></script>

<template>
    <v-app>
        <v-main>
            <router-view v-slot="{ Component }">
                <component :is="Component" />
            </router-view>
        </v-main>
    </v-app>
</template>
<style lang="scss" scoped></style>
